@import "tailwindcss";

@theme {
  --font-sans: "Inter";
}

/* Force light mode */
* {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  @apply bg-white;
  font-family: "Inter" !important;
  color-scheme: light;
}

/* Custom animations */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
